@model IEnumerable<FakeCET.Models.MestoOdrzavanja>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="mt-4">Mesta</h2>

    @if (User.IsInRole("Admin"))
    {
        <div class="mb-3">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </div>
    }

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Naziv</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Naziv</td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = m.MestoID }, new { @class = "btn btn-primary" })
                            <text> | </text>
                            @Html.ActionLink("Details", "Details", new { id = m.MestoID }, new { @class = "btn btn-primary" })
                            <text> | </text>
                            @Html.ActionLink("Delete", "Delete", new { id = m.MestoID }, new { @class = "btn btn-primary" })
                        }
                        else if (User.IsInRole("Predavac"))
                        {
                            @Html.ActionLink("Details", "Details", new { id = m.MestoID }, new { @class = "btn btn-primary" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
